[submodule "polygones/repository"]
	path = polygones/repository
	url = https://github.com/codisart/polygones.git
[submodule "phing/repository"]
	path = phing/repository
	url = https://github.com/codisart/phing.git
[submodule "zend-file/repository"]
	path = zend-file/repository
	url = https://github.com/codisart/zend-file.git
